@model OrionCoreCableColor.Models.Contratista.contratistaAsignacionViewModel

<div class="modal-header bg-primary-600 bg-primary-gradient">
    <h2 class="modal-title text-white">Asignar Tecnico a Instalación @Model.fiIDSolicitudInstalacion</h2>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>

<!--Modal body-->
<div class="modal-body">
    <form id="MyFormModal">

        <div class="panel-container" style="padding-top:12px; padding-bottom:15px;">

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">Agente</label>
                    <div class="input-group mar-btm">
                        <div class="input-group-prepend">
                            @*<span class="input-group-text"><i class="fal fa-user fa-fw"></i></span>*@
                        </div>



                        @*Html.DropDownListFor(model => model.fiIDContratista, new SelectList(ViewBag.ListadoAgente, "Value", "Text"), new { @class = "form-control select2", @style = "width:100%;" })*@
                        
                        <select id="fiIDContratista" name="fiIDContratista" class="form-control select2" style="width:100%;">
                            <option value="" disabled selected>Seleccione una opción</option>
                            @foreach (var item in ViewBag.ListadoAgente)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>

                    </div>
                    @*Html.ValidationMessageFor(model => model.fiIDTecnico, "", new { @class = "text-danger" })*@
                </div>
            </div>


            <div class="col-sm-12" id="fptecnico">
                <div class="form-group">
                    <label class="control-label">Tecnico</label>
                    <div class="input-group mar-btm" >
                        <div class="input-group-prepend">
                            @*<span class="input-group-text"><i class="fal fa-user fa-fw"></i></span>*@
                        </div>

                        <select id="fiIDTecnico" class="form-select form-control">
                        </select>

                        @*Html.DropDownListFor(model => model.fiIDTecnico, new SelectList(ViewBag.ListadoTecnico, "Value", "Text"), "", new { @class = "form-control", @style = "width:100%;" })*@

                    </div>
                    @Html.ValidationMessageFor(model => model.fiIDTecnico, "", new { @class = "text-danger" })
                </div>
            </div>




        </div>

        <div class="modal-footer">
            <div class="clearfix" style="width:100%;">
                <button data-dismiss="modal" class="btn btn-link waves-effect waves-themed float-left btn-lg text-danger" type="button"><i class="text-lg ion-close-round"></i></button>
                <button type="button" id="btnConfirmarEnvio" class="btn btn-link btn-lg waves-effect waves-themed float-right text-success"><i class="text-lg ion-checkmark-round"></i></button>
            </div>

        </div>

    </form>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    @*var model = @Html.Raw(Json.Encode(Model));
    $("#Nombre").prop("disabled", true);
    $("#Telefono").prop("disabled", true);
    function generarRandom(num) {
        const characters = "0123456789";
        const charactersLength = characters.length;
        let result = "";
        for (let i = 0; i < num; i++) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }

        return result;
    }*@


    $(`#fiIDContratista`).on(`change`,function(){
        
        //cambiarlo despues a mas dinamico :,v Edgardo 12/06/2025
        console.log($(this).val());
        if ($(this).val() != 2) {
            
            document.getElementById("fptecnico").style.display = `block`;
            $.ajax({
                url: "@Url.Action("ListadoTecnicosPorAgencia", "LlenarCampos")",
                type: "GET",
                data: { fiEmpreza: $(this).val() },
                success: function (respuesta) {

                    var selectTecnico = $("#fiIDTecnico");

                    selectTecnico.empty();
                    selectTecnico.append($('<option>', {
                        value: 0,
                        text: 'Seleccione un Tecnico'
                    }));

                    $.each(respuesta, function (index, item) {
                        selectTecnico.append($('<option>', {
                            value: item.Value,
                            text: item.Text
                        }));
                    });

                    $("#fiIDTecnico").select2({ dropdownParent: $("#MyModalContent") }).val(null).trigger("change");
                },
                error: function (respuesta) {
                    console.log(respuesta);
                }
            });
        } else {
            
            document.getElementById("fptecnico").style.display = `none`;
        }

    });


    $("#btnConfirmarEnvio").click(function () {
        debugger;
        let fiIDSolicitudInstalacion = '@Model.fiIDSolicitudInstalacion';
        let fiIDTecnico = $(`#fptecnico`).is(`:visible`) ? $("#fiIDTecnico").val() : 0;
        let fiIdAgente = $("#fiIDContratista").val();
        console.log(fiIDTecnico);
        console.log(fiIdAgente);
       // var token = generarRandom(7);
        $.ajax({
                url: "@Url.Action("AsignarSolicitudContratista", "Contratista")",
            type: "POST",
            data: {
                fiIDSolicitudInstalacion: fiIDSolicitudInstalacion,
                fiIDTecnico: fiIDTecnico,
                cliente: '@Model.cliente',
                ubicacion: '@Model.ubicacion',
                fiidAgencia: fiIdAgente
            },
            success: function (resp) {
                if (resp.Estado) {

                    ToastrSuccess(resp.Titulo, resp.Mensaje);
                    CerrarModal();
                } else {
                    ToastrError("Error", resp.Mensaje);
                }
            },
            error: function (data) {
                ToastrError("Error", "Error de Red");
            },
        });

    });
</script>
