@model IEnumerable<OrionCoreCableColor.App_Services.PingService.IntervaloConexionViewModel>
<div class="modal-header bg-primary-600 bg-primary-gradient">
    <h2 class="modal-title text-white" id="titulo">
        @ViewBag.Titulo
    </h2>
    <button type="button" class="close" data-dismiss="modal">
        <i class="fal fa-times-circle fa-fw fa-lg"></i>
    </button>

</div>

<div class="modal-body">

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline" style="width:100%;" id="TablaHistorial">
                <thead>
                    
                    <tr>
                        <th>Index</th>
                        <th>Estado</th>
                        <th>T1</th>
                        <th>T2</th>
                        <th>Tiempo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                    <tr>
                        <td>@item.fiIndex</td>
                        <td><label class='@(item.fbEstado ? "text-success" : "text-danger")'>@(item.fbEstado ? "Conectado" : "Desconectado")</label></td>
                        <td>@item.fdTiempoInicial.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td>@item.fdTiempoFinal.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td>@((int)item.fdIntervalo.TotalDays + " Dias, " + item.fdIntervalo.Hours + " H, " + item.fdIntervalo.Minutes + " M, " + item.fdIntervalo.Seconds + " S" )</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    //$("#titulo").text(`Historial de onu ${Historial.fcMacONU} (${Historial.fcIPONU}) del cliente ${Historial.fcNombreCliente}`);
    $('#TablaHistorial').DataTable({
        autoWidth: true,
        responsive: true,
        language: {
            "emptyTable": "No se encontraron resultados.",
            //"searUrlh": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
            "paginate": {
                first: "Primero",
                previous: "Anterior",
                next: "Siguiente",
                last: "Ultimo"
            },
            "lengthMenu": " _MENU_ ",
            "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
            "infoEmpty": "No hay registros para mostrar.",
        },
        dom: `fBrtip`,
        order:[[0,"desc"]],
        columnDefs: [{
            targets: "_all",
            sortable: false
        }]
    });
</script>