
@model OrionCoreCableColor.Models.Solicitudes.SolicitudesViewModel

<div class="modal-header bg-primary-600 bg-primary-gradient">
    <h2 class="modal-title text-white">Lista Proceso Solicitud</h2>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="MyFormModal">

        <div class="panel-container" style="padding-top:12px; padding-bottom:15px;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.IDSolicitud, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fal fa-user fa-fw"></i></span>
                            </div>
                            @Html.EditorFor(model => model.IDSolicitud, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.IDSolicitud, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fal fa-user fa-fw"></i></span>
                            </div>
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            </br>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline" style="width:100%;" id="SolicitudesProceso">

                            <thead>
                                <tr><th COLSPAN="9" style="text-align:center">Preceso de la Solicitud:</th></tr>
                                <tr>
                                    <th>Creacion Solicitud</th>
                                    <th>Tiempo(D:H:M:)</th>
                                    <th>Aprobado Solicitud</th>
                                    <th>Envio Firma</th>
                                    <th>Tiempo(D:H:M:)</th>
                                    <th>Firma Firmada</th>
                                    <th>Creacion sol Instalacion</th>
                                    <th>Tiempo(D:H:M:)</th>
                                    <th>Instalacion Finalizada</th>
                                </tr>

                            </thead>
                            <tbody>

                                @foreach (var item in Model.ListaProcesoSolicitud)
                                {
                                <tr>
                                    <td>@item.fdFechaInicioFirma</td>
                                    <td>@item.TiempoDiaCreacionSolicitud : @item.HoraTiempoCreacionSolicitud  : @item.MinutosCreacionSolicitud  </td>
                                    <td>@item.fdFechaAprovacion</td>
                                    <td>@item.fdFechaInicioFirma</td>
                                    <td>@item.TiempoDiaFirmaSolicitud : @item.HoraTiempoFirmaSolicitud  : @item.MinutosFirmaSolicitud  </td>>
                                    <td>@item.fdFechaFinFirma</td>
                                    <td>@item.fdfechaInicioInstalacion</td>
                                    <td>@item.TiempoDiaInstalacionSolicitud : @item.HoraTiempoInstalacionSolicitud  : @item.MinutosInstalacionSolicitud  </td>
                                    <td>@item.fdFechaFinalInstalacion</td>
                                </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>


        </div>

        <div class="modal-footer">
            <div class="clearfix" style="width:100%;">
                <button data-dismiss="modal" class="btn btn-link waves-effect waves-themed float-left btn-lg text-danger" type="button"><i class="text-lg ion-close-round"></i></button>
                @*<button type="button" id="btnCrearSolicitudTrabajoContratista" class="btn btn-link btn-lg waves-effect waves-themed float-right text-success"><i class="text-lg ion-checkmark-round"></i></button>*@
            </div>

        </div>

    </form>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    var model = @Html.Raw(Json.Encode(Model));
    $("#Nombre").prop("disabled", true);
    $("#IDSolicitud").prop("disabled", true);

</script>
