@model OrionCoreCableColor.Models.Solicitudes.SolicitudesViewModel

<div class="modal-header bg-primary-600 bg-primary-gradient">
    <h2 class="modal-title text-white">Generar Solicitud Contratista</h2>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>

<!--Modal body-->
<div class="modal-body">
    <form id="MyFormModal">

        <div class="panel-container" style="padding-top:12px; padding-bottom:15px;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fal fa-user fa-fw"></i></span>
                            </div>
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fal fa-phone fa-fw"></i></span>
                            </div>
                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.fiIDAgencia, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            @Html.DropDownListFor(model => model.fiIDAgencia, new SelectList(ViewBag.Listado1, "Value", "Text"), "", new { @class = "form-control", @style = "width:100%;" })

                        </div>
                        @Html.ValidationMessageFor(model => model.fiIDAgencia, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.fiIDContratista, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            @Html.DropDownListFor(model => model.fiIDContratista, new SelectList(ViewBag.Listado2, "Value", "Text"), "", new { @class = "form-control", @style = "width:100%;" })

                        </div>
                        @Html.ValidationMessageFor(model => model.fiIDContratista, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CodigoCliente, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fal fa-user fa-fw"></i></span>
                            </div>
                            @Html.EditorFor(model => model.CodigoCliente, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.CodigoCliente, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NumeroOrdenCepheus, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fal fa-user fa-fw"></i></span>
                            </div>
                            @Html.EditorFor(model => model.NumeroOrdenCepheus, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.NumeroOrdenCepheus, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NumeroOrdenTrabajoCepheus, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mar-btm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fal fa-user fa-fw"></i></span>
                            </div>
                            @Html.EditorFor(model => model.NumeroOrdenTrabajoCepheus, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.NumeroOrdenTrabajoCepheus, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Fecha Instalacion Programada: </label>
                        <input type="date" id="txtFechaInstalacionAsignada" class="form-control" placeholder="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Comentario: </label>
                        <div class="input-group mar-btm">
                            @Html.TextArea("ComentarioAgencia",  new { @class = "form-control" })
                        </div>

                    </div>
                </div>
            </div>





        </div>

        <div class="modal-footer">
            <div class="clearfix" style="width:100%;">
                <button data-dismiss="modal" class="btn btn-link waves-effect waves-themed float-left btn-lg text-danger" type="button"><i class="text-lg ion-close-round"></i></button>
                <button type="button" id="btnCrearSolicitudContratista" class="btn btn-link btn-lg waves-effect waves-themed float-right text-success"><i class="text-lg ion-checkmark-round"></i></button>
            </div>

        </div>

    </form>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    var model = @Html.Raw(Json.Encode(Model));
    $("#Nombre").prop("disabled", true);
    $("#Telefono").prop("disabled", true);

    $("#btnCrearSolicitudContratista").click(function () {
        debugger;
        if ($("#fiIDAgencia :selected").val() == "") {           
            ToastrWarning("Campos vacios", "Seleccione la agencia de la solicitud");
            return false;
        }
        if ($("#fiIDContratista  :selected").val() == "") {            
            ToastrWarning("Campos vacios", "Seleccione el contratista");
            return false;
        }
        if ($("#ComentarioAgencia").val() == "") {
            ToastrWarning("Campos vacios", "Escriba un comentario");
            return false;
        }
        if ($("#CodigoCliente").val() == "") {
            ToastrWarning("Campos vacios", "escriba el codigo de cliente");
            return false;
        }
        if ($("#NumeroOrdenCepheus").val() == "") {
            ToastrWarning("Campos vacios", "Escriba el numero de orden");
            return false;
        }
        if ($("#NumeroOrdenTrabajoCepheus").val() == "") {
            ToastrWarning("Campos vacios", "Escriba el numero de orden");
            return false;
        }

        if ($("#txtFechaInstalacionAsignada").val() == "") {
            ToastrWarning("Campos vacios", "Selecione una fecha");
            return false;
        }


        var Comentario = $("#ComentarioAgencia").val();
        var idAgencia = $("#fiIDAgencia :selected").val();
        var idAgenciaContratista = $("#fiIDContratista :selected").val();
        var CodigoCliente = $("#CodigoCliente").val();
        var NumeroOrden = $("#NumeroOrdenCepheus").val();
        var NumeroOrdenTrabajo = $("#NumeroOrdenTrabajoCepheus").val(); 
        var FechaInstalacionAsignada = $("#txtFechaInstalacionAsignada").val();
        var tipoSolicitudInstalacion = 1;

        $.ajax({
                url: "@Url.Action("EnviarSolicitudContratista", "Solicitudes")",
                type: "POST",
            data: { model: model, Comentario: Comentario, idAgencia: idAgencia, idAgenciaContratista: idAgenciaContratista, CodigoCliente: CodigoCliente, NumeroOrden: NumeroOrden, NumeroOrdenTrabajo: NumeroOrdenTrabajo, FechaInstalacionAsignada: FechaInstalacionAsignada, tipoSolicitudInstalacion: tipoSolicitudInstalacion },
            success: function (resp) {
                if (resp.Estado) {

                    ToastrSuccess(resp.Titulo, resp.Mensaje);
                    CerrarModal();
                } else {
                    ToastrError("Error", resp.Mensaje);
                }
            },
            error: function (data) {
                ToastrError("Error", "Error de Red");
            },
        });
    });
</script>