
@{
    ViewBag.Title = "BandejaMantenimientoCliente";
}

<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 col-12 col-sm-12 col-md-12">
                            <br />
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="form-group">
                                    <label class="control-label font-12">Nombre</label>
                                    <div class="input-group mar-btm">
                                        <input /> @Html.EditorFor(model => model.fcTituloRequerimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 col-12 col-sm-12 col-md-12">
                            <br />
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="form-group">
                                    <label class="control-label font-12">Identidad</label>
                                    <div class="input-group mar-btm">
                                        <input /> @Html.EditorFor(model => model.fcTituloRequerimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 col-12 col-sm-12 col-md-12">
                            <br />
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="form-group">
                                    <label class="control-label font-12">Fecha Nacimiento</label>
                                    <div class="input-group mar-btm">
                                        <input /> @Html.EditorFor(model => model.fcTituloRequerimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 col-12 col-sm-12 col-md-12">
                            <br />
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="form-group">
                                    <label class="control-label font-12">Telefono</label>
                                    <div class="input-group mar-btm">
                                        <input /> @Html.EditorFor(model => model.fcTituloRequerimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 col-12 col-sm-12 col-md-12">
                            <br />
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="form-group">
                                    <label class="control-label font-12">Correo</label>
                                    <div class="input-group mar-btm">
                                        <input /> @Html.EditorFor(model => model.fcTituloRequerimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 col-12 col-sm-12 col-md-12">
                            <br />
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="form-group">
                                    <label class="control-label font-12">Lugar de Trabajo</label>
                                    <div class="input-group mar-btm">
                                        <input /> @Html.EditorFor(model => model.fcTituloRequerimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 col-12 col-sm-12 col-md-12">
                            <br />
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="form-group">
                                    <label class="control-label font-12">Direccion Detallada</label>
                                    <div class="input-group mar-btm">
                                        <input /> @Html.EditorFor(model => model.fcTituloRequerimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 col-12 col-sm-12 col-md-12">
                            <br />
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="form-group">
                                    <label class="control-label font-12">Departamento</label>
                                    <div class="input-group mar-btm">
                                        <input /> @Html.EditorFor(model => model.fcTituloRequerimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 col-12 col-sm-12 col-md-12">
                            <br />
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="form-group">
                                    <label class="control-label font-12">Municipio</label>
                                    <div class="input-group mar-btm">
                                        <input /> @Html.EditorFor(model => model.fcTituloRequerimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 col-12 col-sm-12 col-md-12">
                            <br />
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="form-group">
                                    <label class="control-label font-12">Colonia</label>
                                    <div class="input-group mar-btm">
                                        <input /> @Html.EditorFor(model => model.fcTituloRequerimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

