@model OrionCoreCableColor.Models.Solicitudes.SolicitudesViewModel
<div class="modal-header bg-primary-600 bg-primary-gradient">
    <h2 class="modal-title text-white">
        <text>Ingrese Token</text>
    </h2>
    <button type="button" class="close" data-dismiss="modal">
        <i class="fal fa-times-circle fa-fw fa-lg"></i>
    </button>

</div>

<div class="modal-body">



    <div class="row">

        <div class="col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.fcMensaje, htmlAttributes: new { @class = "control-label" })
                <div class="input-group mar-btm">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fal fa-user fa-fw"></i></span>
                    </div>
                    @Html.EditorFor(model => model.fcMensaje, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                @Html.ValidationMessageFor(model => model.fcMensaje, "", new { @class = "text-danger" })
            </div>
        </div>




    </div>

    <div class="modal-footer">
        <div class="clearfix" style="width:100%;">
            <button data-dismiss="modal" class="btn btn-link waves-effect waves-themed float-left btn-lg text-danger" type="button"><i class="text-lg ion-close-round"></i></button>
            <button id="EnviarToken" class="btn btn-link btn-lg waves-effect waves-themed float-right text-success"><i class="text-lg ion-checkmark-round"></i></button>
        </div>

    </div>

</div>

<script>
      var model = @Html.Raw(Json.Encode(Model));
    $("#EnviarToken").click(function () {

        if ($("#fcMensaje").val() == "") {
            ToastrWarning("Advertencia","Ingrese Token");
            return;
        }
        var Token = $("#fcMensaje").val();
      var codigoToken = '@Model.CodigoSeccionToken';
        var url = "@Url.Action("VerificarToken", "Manto")";
        $.ajax({
            url: url,
            type: "Get",
            data: { Token: Token, codigo: codigoToken},
            success: function (data) {
                debugger;
                if (data.Mensaje == "Token Autorizado!") {
                    ToastrSuccess("Token Autorizado!", "Token Autorizado!");
                    CerrarModal();
                    $("#fcMensaje").val("");
                    if ('@Model.CodigoSeccionToken' == 'N001') {
                         $.ajax({
                            url: '@Url.Action("InsertarBitacoraToken", "Manto")',
                            type: 'POST',
                            data: {
                                fiIDSolicitud: @Model.IDSolicitud,
                                fcTokenAplicado: Token,
                                fcCodigoToken: '@Model.CodigoSeccionToken'
                            },
                            success: function (data) {

                                VerModalConObjetoDeParametro({ Nombre: "", IDCliente: @Model.IdCliente, IDSolicitud: @Model.IDSolicitud}, "@Url.Action("ConfrimacionNumero", "Manto")");
                            },
                            error: function () {
                                ToastrError("Error", "No se pudo insertar la bitácora");
                            }
                        });
                    }

                   if ('@Model.CodigoSeccionToken' == 'N002') {
                        VerModalConObjetoDeParametro({ Nombre: "", IDCliente: @Model.IdCliente, IDSolicitud: @Model.IDSolicitud}, "@Url.Action("ConfrimacionNumero", "Manto")");
                    }

                   if ('@Model.CodigoSeccionToken' == 'N003') {

                        $.ajax({
                            url: "@Url.Action("InfoCliente", "Manto")",
                            type: "POST",
                            data: { idssolicitud: '@Model.IDSolicitud'},
                            success: function (datas) {
                                ShowModalBigScroll(datas);
                            },
                            error: function (datae) {
                                var dataerror = { Titulo: "Error", Mensaje: "Error Al querer Mostrar los Datos", Estado: false }
                                AlertaAjax(dataerror)
                            }
                           });
                    }
                    if ('@Model.CodigoSeccionToken' == 'N004') {

                         $.ajax({
                            url: '@Url.Action("InsertarBitacoraToken", "Manto")',
                            type: 'POST',
                            data: {
                                fiIDSolicitud: @Model.IDSolicitud,
                                fcTokenAplicado: Token,
                                fcCodigoToken: '@Model.CodigoSeccionToken'
                            },
                            success: function (data) {

                               VerModalScrollConObjetoDeParametro({ IDSolicitud: @Model.IDSolicitud, idEquifaxCliente: @Model.IdCliente }, "@Url.Action("ViewDetalleGarantia","Manto")");
                            },
                            error: function () {
                                ToastrError("Error", "No se pudo insertar la bitácora");
                            }
                        });


                    }

                    if ('@Model.CodigoSeccionToken' == 'N005') {
                        debugger;
                        VerModalConObjetoDeParametro({ Nombre: "@(Html.Raw(Model.Nombre))", IDSolicitud: @Model.IDSolicitud }, "@Url.Action("ViewReinicioSolicitud", "Manto")");

                    }
                   if ('@Model.CodigoSeccionToken' == 'N006') {
                        debugger;
                       VerModalConObjetoDeParametro({ Nombre: "@(Html.Raw(Model.Nombre))", Identidad: "@Model.Identidad", IDSolicitud: @Model.IDSolicitud , idCliente: @Model.IdCliente, ValorMonedaNacional: @Model.fnCuotaMensualMonedaNacional}, "@Url.Action("ModalEnviarComprobantePago", "Manto")");

                    }



                } else {
                    ToastrWarning("Advertencia", "Token Invalido");

                }
            },
            error: function (resp) {
                ToastrError("Error", resp.Mensaje);
            }
        });
    });



</script>